<!--页面底部上层容器-->
<div class="foot-top-wrap">
	<ul>
		<li>
			<a href="javascript:void(0)" ng-click="toIndex()">
				<em></em>
				<span>优鲜保障</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" ng-click="toIndex()">
				<em></em>
				<span>全程监控</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" ng-click="toIndex()">
				<em></em>
				<span>礼拜五特惠</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" ng-click="toIndex()">
				<em></em>
				<span>基地直供</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" ng-click="toIndex()">
				<em></em>
				<span>准时送达</span>
			</a>
		</li>
	</ul>
</div>
<!--页面底部中层容器-->
<div class="foot-middle-wrap">
	<div class="foot-middle">
		<div class="foot-middle-left">
			<img src="img/logo.png" />
			<span>服务时间:&nbsp;10:00-24:00<em></em><strong>090---22511</strong></span>
		</div>
		<div class="foot-middle-center">
			<div><em class="wechat"></em><span>礼拜五官方微信</span></div>
			<div><em class="app"></em><span>礼拜五APP</span></div>
		</div>
		<ul class="foot-middle-right">
			<li>
				<h3>关于礼拜五</h3>
				<span>新用户注册</span>
				<span>在线下单</span>
				<span>支付方式</span>
			</li>
			<li>
				<h3>配送说明</h3>
				<span>运费说明</span>
				<span>配送方式</span>
				<span>发票说明</span>
			</li>
			<li>
				<h3>售后服务</h3>
				<span>退换货说明</span>
				<span>服务保障承诺</span>
				<span>验货与签收</span>
			</li>
			<li>
				<h3>加盟礼拜五</h3>
				<span>加盟条款</span>
				<span>公司简介</span>
				<span>服务协议</span>
			</li>
		</ul>
	</div>
</div>
<!--页面底部底层容器-->
<div class="foot-bottom-wrap">
	<div class="foot-bottom">
		<span>版权所有&nbsp;©&nbsp;礼拜五&nbsp;保留所有权利&nbsp;〡&nbsp;沪ICP备12042163</span>
		<strong>礼拜五&nbsp;&nbsp;纵享品质</strong>
	</div>
	<div id="top">
		<a class="feedback" href="javascript:void(0)" ng-click="toWhere('/feedback')">反馈</a>
		<a class="totop" href="javascript:void(0)">顶部</a>
	</div>
</div>
